@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 128 0 5;
  --secondary: 107 42 0;
  --dark: 32 34 36;
  --text-clr: var(--dark);
  --base-clr: 103 103 105;
  --base-clr2: 247 248 251;
  --base-clr3: 30 30 30;

  --drawer-width: 18rem;
  --navbar-height: 3.5rem;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  @apply text-text-clr text-sm;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

html,
body,
#app {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.show-scrollbar {
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 0.15rem;
}

.show-scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: theme("colors.text-clr");
  visibility: hidden;
}

.show-scrollbar:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.show-scrollbar::-webkit-scrollbar {
  width: 4px !important;
}

*:focus {
  outline: none;
  box-shadow: none;
}

button:focus,
input:focus {
  box-shadow: 0px 0px 0px 2px theme("colors.primary");
}
